name: pkgcheck

on:
  push:
    branches: [main, distfiles]
  pull_request:
    branches: [main, distfiles]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run pkgcheck
      uses: pkgcore/pkgcheck-action@v1
