name: pkgcheck

on:
  workflow_dispatch: # manual trigger
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths:
       - '.github/workflows/pkgcheck.yaml'

jobs:
  pkgcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run pkgcheck
        uses: pkgcore/pkgcheck-action@v1
